
@{
    ViewBag.Title = "Bai1";
}

<div class="form-group mt-3">
    <h2>Bài 1</h2>
    <h4>Đề bài</h4>
    <p></p>
    <div class="form-inline">
        <input id="a" type="number" class="form-control" value="0"/>
        <span style="font-size:24px;" class="align-self-center">*x&sup2;+</span>
        <input id="b" type="number"class="form-control" value="0"/>
        <span style="font-size:24px;" class="align-self-center">
        *x+</span>
        <input id="c" type="number" class="form-control" value="0"/>
        <span style="font-size:24px;" class="align-self-center">= 0</span>
    </div>
    <div class="mt-3">
        <button id="btn-cal" class="btn btn-primary">Tính nghiệm</button>
    </div>
    <div id="answer" class="font-weight-bold mt-3">

    </div>
</div>

<div class="form-group">
    <h2>Bài 2</h2>
    <div class="form-inline">
        <label><b>Nhập n:</b></label>&nbsp;
        <input id="n" type="number" class="form-control" value="0"/>
    </div>
    <div class="mt-3">
        <button id="btn-cal-2" class="btn btn-primary">Kết quả</button>
    </div>
    <div id="answer-1" class="font-weight-bold mt-3">

    </div>
</div>

<div class="form-group">
    <h2>Bài 3</h2>
    <div class="form-inline">
        <label><b>Nhập n:</b></label>&nbsp;
        <input id="n-3" type="number" class="form-control" value="0" />
    </div>
    <div class="mt-3">
        <button id="btn-cal-3" class="btn btn-primary">Kết quả</button>
    </div>
    <div id="answer-3" class="font-weight-bold mt-3">

    </div>
</div>
@section scripts{
    <script src="~/Scripts/bai1.js"></script>
}
